.classpath
.project
.settings
.springBeans
target
.idea
*.iml
*.ids
*.ipr
*.iws
npm-debug.log
node_modules
bower_components
tmp
.sass-cache
*.swp
src/main/resources/git.properties
.DS_Store
sensitive
db/**
**/node_modules
node
**/public
